<!-- Creacte By Joker Banny -->
<div class="min-h-screen bg-gray-100 flex justify-center items-center">
	<div class="container mx-auto bg-indigo-500 rounded-lg p-14">
		<form>
			<h1 class="text-center font-bold text-white text-4xl">Find the perfect Images</label>
				<p class="mx-auto font-normal text-sm my-6 max-w-lg">Enter name and download any
					image</p>
				<div class="sm:flex items-center bg-white rounded-lg overflow-hidden px-2 py-1 justify-between">
					<input class="text-base text-gray-400 flex-grow outline-none px-2 rounded-lg" type="text" placeholder="Search " />
					<div class="ms:flex items-center px-2 rounded-lg space-x-4 mx-auto ">
						<button class="bg-indigo-500 text-white text-base rounded-lg px-4 py-2 font-thin block">Search</button>
					</div>
				</div>
		</form>
	</div>
</div>